---
// Components
import Layout from "@/layouts/Layout.astro";
import { Image } from 'astro:assets';
import MyToolbox from "@/components/MyToolbox.astro";
import Featured from "@/components/Featured.astro";
// Data
import { siteData, myToolbox, seenOn } from "@/data/global";
// Current URL
const currentURL = Astro.url.href;
// Images
import filipSteficarImage from "@/images/filip-steficar.jpg";
---
<Layout 
	pageTitle={`${siteData.name} | About Me`}
	pageDescription="Photographer, creator, and entrepreneur who's always building something new."
	currentURL={currentURL}
	ogImage={filipSteficarImage}
	ogImageAlt="Portrait of Filip Štefičar"
	articleAuthor={siteData.author}
>
<section class="mt-fluid-sm">
	<div class="gap-fluid-sm grid grid-cols-1 lg:grid-cols-2 mx-auto px-fluid-sm container">
		<div class="">
			<h1 class="leading-none">Hi, I am Filip Štefičar</h1>
			<p class="mt-fluid-sm">Photographer, creator, and entrepreneur who's always building something new.</p>
			<div class="flex flex-col gap-fluid-sm mt-fluid-sm">
				<h3>I am currently working on:</h3>
				<div class="bg-zinc-100 dark:bg-zinc-900 p-fluid-sm border-2 border-zinc-200 hover:border-blue-500 dark:border-zinc-800 transition-all hover:-translate-y-1 duration-500 ease-in-out">
					<h4>aPRINTure:</h4>
					<p>My 3D printing brand, where creativity meets technology. I design and produce unique, high-quality 3D printed products for photographers.</p>
				</div>
				<div class="bg-zinc-100 dark:bg-zinc-900 p-fluid-sm border-2 border-zinc-200 hover:border-blue-500 dark:border-zinc-800 transition-all hover:-translate-y-1 duration-500 ease-in-out">
					<h4>Fun&Grains:</h4>
					<p>A vegan cooking brand by <a href="https://www.instagram.com/viktorija.j99/" class="font-heading" target="_blank" rel="noopener noreferrer">@viktorija.jaksic</a>, sharing creative, plant-based recipes. I help bring her vision to life by crafting digital experiences, filming cinematic videos, and editing content.</p>
				</div>
				<div class="bg-zinc-100 dark:bg-zinc-900 p-fluid-sm border-2 border-zinc-200 hover:border-blue-500 dark:border-zinc-800 transition-all hover:-translate-y-1 duration-500 ease-in-out">
					<h4>This Portfolio:</h4>
					<p>Since starting my photography journey a few years ago, my work has been featured across social media, newspapers, apps, and more. I decided it was time to create a proper portfolio to showcase my favorite projects and share my vision.</p>
				</div>
			</div>
		</div>
		<div class="bg-zinc-100 dark:bg-zinc-900 p-fluid-sm">
			<Image
			src={filipSteficarImage}
			alt="Portrait of Filip Štefičar"
			width="1200"
			height="800"
			loading="eager"
			format="webp"
			/>
			<p class="flex flex-row justify-between mt-fluid-sm">Location: <span>Zagreb, Croatia</span></p>
		</div>
	</div>
</section>
<section class="mt-fluid-sm">
	<div class="mx-auto px-fluid-sm container">
		<h3>Some Numbers</h3>
		<div class="gap-fluid-sm grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-fluid-sm">
			<div class="flex flex-col gap-fluid-sm bg-zinc-100 dark:bg-zinc-900 p-fluid-sm border-2 border-zinc-200 hover:border-blue-500 dark:border-zinc-800 transition-all hover:-translate-y-1 duration-500 ease-in-out">
				<h4 class="leading-none">Unsplash Views</h4>
				<p>1.000.000+</p>
			</div>

			<div class="flex flex-col gap-fluid-sm bg-zinc-100 dark:bg-zinc-900 p-fluid-sm border-2 border-zinc-200 hover:border-blue-500 dark:border-zinc-800 transition-all hover:-translate-y-1 duration-500 ease-in-out">
				<h4 class="leading-none">Projects Launched</h4>
				<p>20+</p>
			</div>

			<div class="flex flex-col gap-fluid-sm bg-zinc-100 dark:bg-zinc-900 p-fluid-sm border-2 border-zinc-200 hover:border-blue-500 dark:border-zinc-800 transition-all hover:-translate-y-1 duration-500 ease-in-out">
				<h4 class="leading-none">Brand Collabs</h4>
				<p>50+</p>
			</div>

			<div class="flex flex-col gap-fluid-sm bg-zinc-100 dark:bg-zinc-900 p-fluid-sm border-2 border-zinc-200 hover:border-blue-500 dark:border-zinc-800 transition-all hover:-translate-y-1 duration-500 ease-in-out">
				<h4 class="leading-none">Top 10% of 🌍</h4>
				<p>3+ Years In Row</p>
			</div>
		</div>
	</div>
</section>
<section class="mt-fluid-sm">
	<MyToolbox />
</section>
<section class="mt-fluid-sm">
	<Featured />
</section>
</Layout>