---
// Components
import { Image } from 'astro:assets';
// Props
const {
    src,
    srcLightbox,
    alt="Alt Description",
    width,
    height,
    loading="eager",
} = Astro.props;
// Lightbox CSS
import "glightbox/dist/css/glightbox.css";
---
<div class="bg-zinc-100 dark:bg-zinc-900 p-fluid-sm glightbox">
    <a  class="glightbox"
        href={srcLightbox}
        data-type="image"
        data-srcset={srcLightbox}
        data-glightbox
        data-gallery="gallery"
    >
        <Image
        class="bg-zinc-50 grayscale hover:grayscale-0 transition-all duration-500 ease-in-out"
        src={src}
        alt={alt}
        width={width}
        height={height}
        loading={loading}
        />
    </a>
    <p class="mt-fluid-sm text-fluid-sm">{width}w and {height}h</p>
</div>

<script>
    import GLightbox from 'glightbox';
    
    const lightbox = GLightbox({
        selector: '[data-glightbox]',
        touchNavigation: true,
        loop: true
    });
</script>