---
// Components
import { Image } from 'astro:assets';
// Props
const {
    src,
    srcLightbox,
    alt,
    loading,
    quote
} = Astro.props;
// Lightbox CSS
import "glightbox/dist/css/glightbox.css";
---
<div class="bg-zinc-100 dark:bg-zinc-900 p-fluid-sm glightbox">
    <a  class="glightbox"
        href={srcLightbox}
        data-type="image"
        data-srcset={srcLightbox}
        data-glightbox
        data-gallery="gallery"
    >
        <Image
        class="hover:rounded-b-2xl transition-all hover:-translate-y-fluid-sm duration-500 ease-in-out"
        src={src}
        alt={alt}
        inferSize={true}
        loading={loading}
        />
    </a>
    <p class="flex flex-row flex-wrap justify-between gap-fluid-sm mt-fluid-sm font-decorative font-semibold text-fluid-base">{quote}</p>
</div>

<script>
    import GLightbox from 'glightbox';
    
    const lightbox = GLightbox({
        selector: '[data-glightbox]',
        touchNavigation: true,
        loop: true
    });
</script>

<style is:global>
    #glightbox-slider > .gslide-description.description-bottom {
        background: red !important;
        color: red;
    }
</style>